.git
.gitignore
.env
.env.*.local
.env.local
node_modules
npm-debug.log
yarn-error.log
.DS_Store
.editorconfig
.idea
.vscode
.php_cs.cache
.phpunit.result.cache
docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore
.github
*.md
tests/
storage/logs/*
storage/framework/cache/*
bootstrap/cache/*
vendor/
*.env
*.log
.git/
.gitignore
